@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:"Italianno", cursive; ;
}
h1{
    text-align: center;
    font-size: 80px;
}
body {
    height: 100vh;
    background-image: url(fundo.png);
    color: #070f16;
    box-sizing: border-box;
    text-align: center;
}

strong {
    color: rgb(110, 15, 15);
    font-weight: bold;
}
p{
    color: #0a0707;
    font-size: 40px;
}

.apresentacao_conteudo{
    font-size: 24px;
    color: #f5efef;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.foto-luffy{
    border: outset #020211 2px;
    height: 300px;
    border-radius: 20px;
}
.apresentacao{
    margin: 10%;
}
.botao{
   text-align: center;
   border-radius: 20px;
   font-size: 25px;
   width: 150px;
   background-image: url(fundo.png);
   font-weight: 800;
}
