*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
body {
    height: 100vh;
    background-color: rgb(247, 131, 214);
    color: #070f16;
    box-sizing: border-box;
    text-align: center;
}

strong {
    color: rgb(214, 36, 36);
    font-weight: bold;
}ç

p {
    color: #1f1d1d;
}

.sobre-mim {
    color: #f5efef;
}
.principal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.foto-luffy{
    border: 2px solid #020211;
    height: 300px;
    border-radius: 20px;
    padding: 10px;
    border-radius: 20%;
}
