
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cabin:ital,wght@0,400..700;1,400..700&family=Pacifico&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --cor-primaria:lightcoral;
    --cor-secundaria:rgb(110, 15, 15);
    --cor-terciaria: #020211;

    --font-primaria:"Abril Fatface", serif;
    --font-secundaria:"Pacifico", cursive;
}

*{
    margin: 0;
    padding: 0;
    font-family:var(--font-secundaria) ;
}
h1{
    text-align: center;
    font-size: 50px;
    flex-direction: column-reverse ;
    align-content: flex-start;
    align-items: flex-start;
    font-family:var(--font-primaria) ;
}
body {
    background-image: url(/assets/fundo.png);
    background-size: 100%;
    color: var(--cor-terciaria);
    box-sizing: border-box;
    
}
.cabecalho{
    padding: 2% 0 0 15%;
    font-weight: 900;
    
    
}
.cabecalho_menu{
    display: flex;
    gap: 80px;
}
.cabecalho_menu_link{
    font-size: 24px;
    font-weight:  600px; 
    color:var(--cor-terciaria);
}

strong {
    color:var(--cor-secundaria);
    font-weight: bold;
}

.apresentacao_conteudo{
    font-size: 3vh;
    color: var(--cor-terciaria);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0 50px 0 ;
}
.foto-luffy{
    border: outset 2px var(--cor-terciaria);
    height:500px;
    border-radius: 20px;
    width: 30%;
    height: 40%;
}
.apresentacao{
    margin: 10%;
    gap:20px;
}
a:hover{
    border:solid 2px var(--cor-terciaria);
}

.apresentacao_links{
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.botao{
   text-align:center;
   border-radius: 20px;
   font-size: 30px;
   width: 250px;
   background-image: url(/assets/fundo.png);
   font-weight: 800px;
   text-decoration: none;
   padding: 10px 0;
}
h2{
    font-family:var(--font-primaria);
    color:var(--cor-terciaria);
    width: 200px;
} 
.link_imagem{
    width: 32px;
}
.rodape{
    background-color:var(--cor-primaria);
    text-align: center;
    padding: 24px;
    color: var(--cor-terciaria);
    font-size: 24px;
    font-weight: bold;

}
.apresentacao_foto_link{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
}
p{
    margin: 50px 0 0 0 ;
    text-align: center;
}
@media (max-width:1200px ){
    .apresentacao{
        flex-direction: row;   
    }
    .apresentacao_conteudo{
        width: 80%;
    }
    .cabecalho{
        padding: 10%;
    }
    .cabecalho_menu{
        justify-content: center;
    }
}
@media (max-width:720px){
    .foto-luffy{
        width: 300px;
    }
    .apresentacao_conteudo{
        width: 90%;
    }
    .apresentacao_foto_link{
        flex-direction: column;
    }
    h2{
        text-align: center;
    }
    .rodape{
        height: 2vh;
    }
    .botao{
        width: 30vh;
    }
    .apresentacao_links{
        align-items: center;
    }
    h1{
        font-size: 6vh;
        text-align: center;
    }
    p{
        text-align: center;
    }
}