@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:"Italianno", cursive; ;
}
h1{
    text-align: end;
    font-size: 50px;
    flex-direction: column-reverse ;
    align-content: flex-start;
    align-items: flex-start;
}
body {
    background-image: url(/assets/fundo.png);
    color: #070f16;
    box-sizing: border-box;
    
}
.cabecalho{
    padding: 2% 0 0 15%;
    font-weight: 900;
    
    
}
.cabecalho_menu{
    display: flex;
    gap: 80px;
}
.cabecalho_menu_link{
    font-size: 24px;
    font-weight:  600px; 
    color: #020211;
}

strong {
    color: rgb(110, 15, 15);
    font-weight: bold;
}

.apresentacao_conteudo{
    font-size: 24px;
    color: #0c0101;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.foto-luffy{
    border: outset #020211 2px;
    height: 350px;
    border-radius: 20px;
}
.apresentacao{
    margin: 10%;
}

.apresentacao_links{
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.botao{
   text-align: center;
   border-radius: 20px;
   font-size: 25px;
   width: 250px;
   background-image: url(/assets/fundo.png);
   font-weight: 800;
   text-decoration: none;
   padding: 10px 0;
}
h2{
    font-family:"Italianno", cursive; ;
    color: #020211;
    width: 200px;
} 

.link_imagem{
    width: 32px;
}
.rodape{
    background-color:lightcoral;
    text-align: center;
    padding: 24px;
    color: #020211;
    font-size: 24px;
    font-weight: bold;

}
.apresentacao_foto_link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
}